<script type="module">
  import { createMemo, defineComponent, reactive, untrack } from 'elii'
  import { images, prefs, se, icons } from '@/r.js'
  import { blockWidth, blockHeight } from '@/rule/board-utils.js'
  import { version } from 'package.json'

  import XDialog from './x-dialog.m.html'
  import './x-text.m.html'
  import './x-button.m.html'
  import './x-icon.m.html'

  const pageIds = ['about', 'basic', 'move', 'menu', 'ex', 'stack', 'outro']

  export default defineComponent({
    tag: 'dialog-help',
    document: import.meta.document,
    setup() {
      const state = reactive({
        refDialog: /** @type {XDialog | null} */ (null),
        pageIndex: -1,
        pageIds: /** @type {string[]} */ ([]),
      })

      /**
       * @param {string|string[]} pageId
       */
      const open = (pageId) => {
        if (Array.isArray(pageId)) {
          // チュートリアル表示
          for (const id of pageId) {
            prefs.seenHelps[id] = true
          }
          state.pageIds = pageId
          state.pageIndex = 0
          state.refDialog?.open(300, 800)
        } else {
          // 通常表示
          prefs.seenHelps[pageId] = true
          state.pageIds = pageIds.filter((id) => prefs.seenHelps[id] != null)
          state.pageIndex = state.pageIds.indexOf(pageId)
          state.refDialog?.open()
        }
      }

      const memo = createMemo(() => {
        const pageId = state.pageIds[state.pageIndex]
        untrack(() => {
          if (pageId) prefs.seenHelps[pageId] = true
        })
        return {
          currentPageId: pageId ?? '',
          totalPages: state.pageIds.length,
        }
      })

      const prevPage = () => {
        if (state.pageIndex > 0) {
          state.pageIndex--
        } else {
          state.pageIndex = memo.totalPages - 1
        }
      }

      const nextPage = () => {
        if (state.pageIndex < memo.totalPages - 1) {
          state.pageIndex++
        } else {
          state.pageIndex = 0
        }
      }

      /**
       * @param {number} index
       */
      const onPageNavDotClick = (index) => {
        state.pageIndex = index
        se.click.play()
      }

      return {
        blockWidth,
        blockHeight,
        images,
        icons,
        state,
        memo,
        version,
        prevPage,
        nextPage,
        onPageNavDotClick,
        $expose: {
          open,
        },
      }
    },
  })
</script>

<template>
  <x-dialog data-ref="state.refDialog">
    <div class="pages">
      <template data-if="state.pageIds.includes('about')">
        <div class="page" data-class-current="memo.currentPageId === 'about'">
          <x-text class="title" value="このゲームは？"></x-text>

          <p>
            CAMPFIREのアドベントカレンダー<br />
            で作られたミニゲームです<br />
            <a href="https://qiita.com/advent-calendar/2025/campfire" target="_blank">Advent Calendar 2025</a>
          </p>

          <div class="credit">
            <div class="credit-label">制作</div>
            <div><a href="https://x.com/hsgwkt" target="_blank">8kg</a></div>
            <div class="credit-label">音楽</div>
            <div><a href="https://dova-s.jp" target="_blank">DOVA-SYNDROME</a></div>
            <div class="credit-label">効果音</div>
            <div><a href="https://soundeffect-lab.info" target="_blank">効果音ラボ</a></div>
            <div class="credit-label">フォント</div>
            <div><a href="https://fonts.google.com/specimen/M+PLUS+1p" target="_blank">M PLUS 1p</a></div>
            <div class="credit-label">アイコン</div>
            <div><a href="https://tabler.io/icons" target="_blank">Tabler Icons</a></div>
          </div>

          <div class="version" data-text="`v${version}`"></div>
        </div>
      </template>

      <template data-if="state.pageIds.includes('basic')">
        <div class="page" data-class-current="memo.currentPageId === 'basic'">
          <x-text class="title" value="あそびかた"></x-text>
          <p>たきびさん</p>
          <div class="block-preview" data-style-aspect-ratio="blockWidth / blockHeight">
            <img class="block-image" data-prop-src="images.takibi.leg.black" />
            <img class="block-image" data-prop-src="images.takibi.bg.black" />
            <img class="block-image" data-prop-src="images.takibi.body.red" />
            <img class="block-image" data-prop-src="images.takibi.face.default" />
            <x-icon class="move-icon" data-prop-svg-url="icons.finger"></x-icon>
          </div>
          <p>を</p>
          <p>　まとめよう！</p>
        </div>
      </template>

      <template data-if="state.pageIds.includes('move')">
        <div class="page" data-class-current="memo.currentPageId === 'move'">
          <x-text class="title" value="いどうルール"></x-text>
          <p>たきびさんは<br />おなじ色の上か<br />あいた列にだけ行ける</p>
          <p>高さにもちゅうい</p>
        </div>
      </template>

      <template data-if="state.pageIds.includes('menu')">
        <div class="page" data-class-current="memo.currentPageId === 'menu'">
          <x-text class="title" value="こまったときは"></x-text>
          <div class="icon-preview">
            <x-icon data-prop-svg-url="icons.undo"></x-icon>
          </div>
          <p>ひとつ前にもどします</p>
          <div class="icon-preview">
            <x-icon data-prop-svg-url="icons.restart"></x-icon>
          </div>
          <p>あたらしくやり直します</p>
        </div>
      </template>

      <template data-if="state.pageIds.includes('ex')">
        <div class="page" data-class-current="memo.currentPageId === 'ex'">
          <x-text class="title" value="Ex"></x-text>
          <p>あいたままで<br />おわる列はナシ</p>
          <p>上にスキマができます</p>
        </div>
      </template>

      <template data-if="state.pageIds.includes('stack')">
        <div class="page" data-class-current="memo.currentPageId === 'stack'">
          <x-text class="title" value="かさね"></x-text>
          <p>とてもむずかしい</p>
          <p>もし<br />かずの多い色があったら<br />それは下のほうへ</p>
        </div>
      </template>

      <template data-if="state.pageIds.includes('outro')">
        <div class="page" data-class-current="memo.currentPageId === 'outro'">
          <x-text class="title" value="すべて"></x-text>
          <p>なにが出るのか、きぶんしだい</p>
          <p>Streakがふえるほど<br />むずかしめに</p>
          <br />
          <p class="outro-title">GAME OVER</p>
          <p class="outro-text">
            <template data-for="char, index in Array.from('THANK YOU FOR PLAYING!')">
              <span class="outro-char" data-style--index="index" data-text="char"></span>
            </template>
          </p>
        </div>
      </template>
    </div>

    <template data-if="memo.totalPages > 1">
      <div class="page-nav">
        <x-button data-on-click="prevPage">
          <x-icon data-prop-svg-url="icons.arrowLeft"></x-icon>
        </x-button>

        <div class="page-nav-dots">
          <template data-for="page, index in state.pageIds" data-key="page">
            <div
              class="page-nav-dot"
              data-class-current="state.pageIndex === index"
              data-on-click="() => onPageNavDotClick(index)"
            ></div>
          </template>
        </div>

        <x-button data-on-click="nextPage">
          <x-icon data-prop-svg-url="icons.arrowRight"></x-icon>
        </x-button>
      </div>
    </template>
  </x-dialog>
</template>

<style>
  :host {
    display: contents;
  }

  .pages {
    display: grid;
    grid-template-columns: 1fr;
  }

  .page {
    grid-row: 1;
    grid-column: 1;
    text-align: center;

    &:not(.current) {
      visibility: hidden;
    }
  }

  .title {
    display: block;
    text-align: center;
    font-size: 20px;
    margin-bottom: 24px;
    color: gold;
  }

  p {
    margin: 12px 0;
    font-size: 18px;
    line-height: 1.4;
    color: #5d1a00;
  }

  .credit {
    margin: 24px auto 0;
    width: fit-content;
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 2px 8px;
    text-align: left;
    color: #5d1a00;
    font-size: 14px;
  }

  .credit-label {
    text-align: right;
  }

  .version {
    position: absolute;
    left: 10px;
    top: 10px;
    font-size: 12px;
    color: #5d1a00;
  }

  a {
    color: darkorange;
  }

  .block-preview {
    position: relative;
    width: 64px;
    margin: 0 auto;
  }

  .block-image {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
  }

  .move-icon {
    position: absolute;
    left: 75%;
    top: -5%;
    transform: rotate(-45deg);
  }

  .icon-preview {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hint-title {
    margin: 16px 0;
    text-align: center;
    color: #fff;
    font-size: 20px;
  }

  .outro-title {
    margin-bottom: 0;
  }

  .outro-text {
    margin-top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .outro-char {
    white-space: pre;

    .current & {
      animation: outro-char-jump 4s calc(var(--index) * 0.07s) linear infinite,
        outro-char-fade 4s calc(var(--index) * 0.07s) linear backwards;
    }
  }

  @keyframes outro-char-jump {
    0% {
      transform: translateY(0px);
      animation-timing-function: ease-out;
    }
    4% {
      transform: translateY(-0.5em);
      animation-timing-function: ease-in;
    }
    8% {
      transform: translateY(0px);
      animation-timing-function: linear;
    }
    100% {
      transform: translateY(0px);
    }
  }

  @keyframes outro-char-fade {
    0% {
      opacity: 0;
    }
    4% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }

  .page-nav {
    position: relative;
    top: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }

  .page-nav-dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;

    @media (width <= 460px) {
      gap: 6px;
    }
  }

  .page-nav-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #aaa;
    border: calc(var(--border-width) * 0.75) solid transparent;
    background-clip: content-box;
    cursor: pointer;

    &.current {
      border-color: #5d1a00;
      background-color: gold;
      background-image: var(--images-wave);
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: center;
      pointer-events: none;
    }
  }

  x-button {
    color: darkorange;
  }
</style>
