<script type="module">
  import { defineComponent, reactive } from 'elii'
  import XDialog from './x-dialog.m.html'

  export default defineComponent({
    tag: 'help-title',
    document: import.meta.document,
    setup() {
      const state = reactive({
        refDialog: /** @type {XDialog | null} */ (null),
      })

      const open = (wait = 100) => {
        state.refDialog?.open(wait)
      }

      return {
        state,
        $expose: {
          open,
        },
      }
    },
  })
</script>

<template>
  <x-dialog data-ref="state.refDialog">
    <h4>このゲームは？</h4>

    CAMPFIREのアドベントカレンダー<br />で作られたミニゲームです<br />
    <a href="https://qiita.com/advent-calendar/2025/campfire" target="_blank">Advent Calendar 2025</a><br />

    <h4>クレジット</h4>

    <div class="credit">
      <div>制作：</div>
      <div><a href="https://x.com/hsgwkt" target="_blank">8kg</a></div>
      <div>音楽：</div>
      <div><a href="https://dova-s.jp" target="_blank">DOVA-SYNDROME</a></div>
      <div>効果音：</div>
      <div><a href="https://soundeffect-lab.info" target="_blank">効果音ラボ</a></div>
      <div>フォント：</div>
      <div><a href="https://fonts.google.com/specimen/M+PLUS+Rounded+1c" target="_blank">M PLUS Rounded 1c</a></div>
      <div>アイコン：</div>
      <div><a href="https://tabler.io/icons" target="_blank">Tabler Icons</a></div>
    </div>
  </x-dialog>
</template>

<style>
  :host {
    display: contents;
  }
</style>
