<script type="module">
  import { createMemo, defineComponent } from 'elii'
  import {
    blockFillColors,
    blockHeight,
    blockOverlap,
    linePaddingTop,
    linePaddingBottom,
    isMovableBlock,
    lineWidth,
    calcBlocksHeight,
    calcLineHeight,
  } from '@/rule/board-utils.js'

  export default defineComponent({
    tag: 'play-line',
    document: import.meta.document,
    props: {
      lineId: '',
      board: /** @type {Board} */ ({ lines: {}, blocks: {} }),
      boardScaleX: 1,
      boardScaleY: 1,
      selectedBlockId: '',
      dragInfo: /** @type {{} | null} */ (null),
      hoverLineId: '',
    },
    setup(props) {
      const memo = createMemo(() => {
        const line = props.board.lines[props.lineId]
        const lineHeight = calcLineHeight(line.size)
        const blocksHeight = calcBlocksHeight(line.size)

        const selectedBlock = props.selectedBlockId ? props.board.blocks[props.selectedBlockId] : null
        const isSelectable = !!selectedBlock && isMovableBlock(props.board, line, selectedBlock)

        const blocksOffsetY =
          line.blockIds.length <= 0 ? blocksHeight : (blockHeight - blockOverlap) * (line.size - line.blockIds.length)

        return {
          line,
          lineHeight,
          selectedColor: selectedBlock ? blockFillColors[selectedBlock.color] : '',
          isSelectable,
          isDroppable: isSelectable && props.hoverLineId === props.lineId && !!props.dragInfo,
          markerY: linePaddingTop + blocksOffsetY - (blockHeight - blockOverlap) * 0.5,
        }
      })

      return {
        props,
        memo,
        linePaddingBottom,
        lineWidth,
      }
    },
  })
</script>

<template>
  <div
    class="line"
    data-class-selectable="memo.isSelectable"
    data-class-droppable="memo.isDroppable"
    data-style-left="`${memo.line.x * props.boardScaleX}cqw`"
    data-style-top="`${memo.line.y * props.boardScaleY}cqh`"
    data-style-width="`${lineWidth * props.boardScaleX}cqw`"
    data-style-height="`${memo.lineHeight * props.boardScaleY}cqh`"
  >
    <div class="line-bg"></div>
    <div class="line-shadow"></div>
    <div
      class="line-bottom"
      data-class-fell="memo.line.blockIds.length === 0 && props.board.disableEmptyDrop"
      data-class-even="memo.line.even"
      data-style-height="`${linePaddingBottom * props.boardScaleY}cqh`"
    ></div>
    <div
      class="selectable-marker"
      data-style-top="`${memo.markerY * props.boardScaleY}cqh`"
      data-style-color="memo.selectedColor"
    >
      <div class="selectable-marker-triangle"></div>
      <div class="selectable-marker-top"></div>
    </div>
  </div>
</template>

<style>
  :host {
    display: contents;
  }

  .line {
    position: absolute;
    z-index: 0;

    &.selectable {
      cursor: pointer;
    }
  }

  .line-bg {
    position: absolute;
    inset: 0 calc(var(--border-width) * 2) 0;
    background-color: #0003;
    border: var(--border-width) solid #0002;
    border-radius: 999px 999px 0 0;

    .selectable & {
      background-image: linear-gradient(to bottom, #fff2, #fff2);
    }

    .droppable & {
      background-image: linear-gradient(to bottom, #fff4, #fff4);
    }
  }

  .line-shadow {
    position: absolute;
    inset: calc(var(--border-width) * 4) calc(var(--border-width) * 6) calc(var(--border-width) * 4);
    background-color: #0002;
    border-radius: 999px 999px 0 0;
  }

  .line-bottom {
    position: absolute;
    inset: auto var(--border-width) 0;
    border: var(--border-width) solid #5d1a00;
    border-radius: 2px;
    background-color: #921400;
    background-image: linear-gradient(to bottom, #0002, #0002 50%, transparent 50%, transparent);
    box-sizing: border-box;
    transition: opacity 0.3s ease-out;

    &.even {
      background-color: #bd1900;
    }

    &.fell {
      opacity: 0;
      translate: 0 50%;
      transition: opacity 0.3s ease-in, translate 0.3s ease-in;
    }
  }

  .selectable-marker {
    position: absolute;
    left: 50%;
    top: 0;
    animation: selectable-marker-animation 1.8s steps(2, jump-none) infinite;
    visibility: hidden;

    .selectable & {
      visibility: visible;
    }
  }

  @keyframes selectable-marker-animation {
    0% {
      transform: translateY(0);
    }
    100% {
      transform: translateY(4px);
    }
  }

  .selectable-marker-triangle {
    position: absolute;
    left: 0;
    top: 0;
    width: 20px;
    height: 20px;
    background-color: currentColor;
    border: #444 4px solid;
    border-radius: 0.25em;
    box-shadow: 0 0 0 4px #fff;
    clip-path: polygon(-49% -50%, 151% 150%, -49% 150%);
    transform: translate(-50%, -100%) rotate(-45deg);
  }

  .selectable-marker-top {
    position: absolute;
    left: 0px;
    top: -4px;
    width: calc(20px * 1.414);
    height: 20px;
    background-color: currentColor;
    border: #444 4px solid;
    border-radius: 0.25em;
    box-shadow: 0 0 0 4px #fff;
    clip-path: polygon(-50% -50%, 150% -50%, 150% 4px, -50% 4px);
    transform: translate(-50%, -50%);
  }
</style>
