<script type="module">
  import { defineComponent, reactive } from 'elii'
  import { getCompletionRate, isGoalState, isStuckState } from '@/rule/block-utils.js'
  import { route, pushRoute } from '@/r.js'
  import { levels } from '@/rule/level.js'

  import './play-board.m.html'
  import './x-bg.m.html'

  export default defineComponent({
    tag: 'play-root',
    document: import.meta.document,
    setup() {
      const level = levels.find((level) => level.id === route.levelId)
      if (!level) throw Error('level not found')

      const shuffledLines = level.createLines()

      const state = reactive({
        lines: structuredClone(shuffledLines),
        particleLevel: getCompletionRate(shuffledLines) ** 2 * 0.8 + 0.2,
      })

      const retry = () => {
        state.lines = structuredClone(shuffledLines)
        state.particleLevel = getCompletionRate(state.lines) ** 2 * 0.8 + 0.2
      }

      const goToTitle = () => {
        pushRoute({ page: 'title' })
      }

      const onBlockMove = () => {
        console.log('onBlockMove')
        if (isGoalState(state.lines)) {
          console.log('Goal state reached')
          state.particleLevel = 1
        } else if (isStuckState(state.lines)) {
          console.log('No possible moves')
          state.particleLevel = 0
        } else {
          state.particleLevel = getCompletionRate(state.lines) ** 2 * 0.8 + 0.2
        }
      }

      return {
        state,
        retry,
        goToTitle,
        onBlockMove,
      }
    },
  })
</script>

<template>
  <x-bg data-prop-particle-level="state.particleLevel">
    <div class="content">
      <button data-on-click="retry">retry</button>
      <button data-on-click="goToTitle">title</button>

      <play-board data-prop-lines="state.lines" data-prop-on-block-move="onBlockMove"></play-board>
    </div>
  </x-bg>
</template>

<style>
  :host {
    display: contents;
  }
</style>
