<script type="module">
  import { createMemo, defineComponent, reactive } from 'elii'
  import { route, prefs, bgm, se, session } from '@/r.js'
  import { levels } from '@/rule/level.js'

  import './x-header.m.html'
  import './x-bg.m.html'
  import './title-logo.m.html'
  import './title-sky.m.html'
  import TitleStage from './title-stage.m.html'

  export default defineComponent({
    tag: 'title-root',
    document: import.meta.document,
    setup() {
      const state = reactive({
        isReady: false,
        refStages: /** @type {Record<string, TitleStage>} */ ({}),
      })

      const memo = createMemo(() => {
        return {
          filteredLevels: levels.filter((level) => level.isVisible()),
          isCompleted: levels.every((level) => prefs.levelStats[level.id]?.wins > 0),
        }
      })

      route.onReady(() => {
        bgm.title.play(0.2)
        state.isReady = true
      })

      /**
       * @param {string} levelId
       */
      const goToPlay = (levelId) => {
        if (levels.find((level) => level.id === levelId)?.isUnlocked()) {
          const startAt = Date.now()
          session.startAt = startAt
          session.boardhistory = null
          session.streak = null
          route.pushState({ page: 'play', levelId, startAt })
          se.start.play()
        }
      }

      requestAnimationFrame(() => {
        if (!prefs.seenCompleted && memo.isCompleted) {
          prefs.seenCompleted = true
          window.scrollTo({ top: 0, behavior: 'instant' })
        } else {
          const rect = state.refStages[route.state.focusLevelId]?.getBoundingClientRect()
          if (!rect) return
          const targetTop = window.pageYOffset + rect.top - window.innerHeight / 2 + rect.height / 2
          window.scrollTo({ top: targetTop, behavior: 'instant' })
        }
      })

      return {
        state,
        memo,
        levels,
        goToPlay,
      }
    },
  })
</script>

<template>
  <x-header help-page-id="about">
    <title-logo slot="bottom"></title-logo>
  </x-header>

  <template data-if="memo.isCompleted">
    <title-sky></title-sky>
  </template>

  <x-bg
    data-class-show-all-levels="memo.filteredLevels.length === levels.length"
    data-prop-particle-level="Math.max(memo.filteredLevels.length / levels.length, 0.2)"
    data-prop-particle-duration-rate="Math.max(memo.filteredLevels.length / 2, 1)"
    data-prop-is-tip="memo.isCompleted"
  >
    <div class="bg-container">
      <div class="bg"></div>
    </div>

    <div class="content">
      <div class="stages">
        <template data-for="level, index in memo.filteredLevels.toReversed()" data-key="level.id">
          <title-stage
            data-prop-is-ready="state.isReady"
            data-prop-level="level"
            data-prop-level-index="memo.filteredLevels.length - index - 1"
            data-on-click="() => goToPlay(level.id)"
            data-ref-stage="state.refStages[level.id]"
          ></title-stage>
        </template>
      </div>
    </div>
  </x-bg>
</template>

<style>
  :host {
    display: block;
    overflow: hidden;
  }

  [hidden] {
    display: none !important;
  }

  x-bg.show-all-levels::part(bg) {
    background: linear-gradient(to bottom, #543, #864 50cqw, #d63 100cqw, #fb3);
  }

  .bg-container {
    position: absolute;
    inset: 0;
    container-type: size;
    z-index: -1;
  }

  .bg {
    position: absolute;
    inset: 0;
    background-image: var(--images-board-bg);
    background-size: 40cqw 20cqw;
    background-position: 50% 0;
    opacity: 0.06;
  }

  .content {
    position: relative;
    padding: calc(150px + 30cqw) 0 0;
    z-index: 1;
  }

  .stages {
    display: grid;
    grid-template-columns: 1fr;
    gap: calc(120px + 6cqw);
    width: calc(150px + 6.5cqw);
    margin: 0 auto;
    min-height: 100%;
    min-width: 0;
    align-content: center;
  }
</style>
