<script type="module">
  import { defineComponent } from 'elii'

  export default defineComponent({
    tag: 'title-logo',
    document: import.meta.document,
    setup() {
      return {
        title: 'FireRise',
      }
    },
  })
</script>

<template>
  <div class="logo">
    <div class="text-overlay shadow" data-text="title"></div>
    <div class="text-overlay outline3" data-text="title"></div>
    <div class="text-overlay outline2" data-text="title"></div>
    <div class="text-overlay outline1" data-text="title"></div>
    <div class="text-overlay face" data-text="title"></div>
    <div class="text-basis" data-text="title"></div>
  </div>
</template>

<style>
  :host {
    display: block;
  }

  .logo {
    position: relative;
    font-size: calc(20px + 10cqw);
    letter-spacing: 0.02em;
    color: gold;
    width: max-content;
    margin: 0 auto;
  }

  .text-overlay {
    position: absolute;
    inset: 0;

    &.face {
      background-image: var(--images-wave);
      -webkit-text-fill-color: transparent;
      background-clip: text;
      background-size: auto 100%;
      background-color: currentColor;
      background-repeat: repeat-x;
      background-position: center;
    }

    &.outline1 {
      -webkit-text-stroke: var(--border-width) gold;
    }

    &.outline2 {
      -webkit-text-stroke: 0.3em darkred;
    }

    &.outline3 {
      -webkit-text-stroke: calc(0.3em + var(--border-width) * 2) #fff;
    }

    &.shadow {
      margin-top: calc(var(--border-width) * 2.5);
      -webkit-text-stroke: calc(0.3em + var(--border-width) * 2) #000;
      opacity: 0.2;
    }
  }
</style>
