<script type="module">
  import { createMemo, defineComponent } from 'elii'
  import { images, prefs } from '@/r.js'

  import './x-text.m.html'
  import './x-icon.m.html'

  export default defineComponent({
    tag: 'title-stage',
    document: import.meta.document,
    props: {
      isReady: false,
      level: /** @type {Level} */ ({}),
      levelIndex: 0,
    },
    setup(props) {
      const memo = createMemo(() => {
        const levelStats = prefs.levelStats[props.level.id]
        return {
          levelStats,
          hasWon: levelStats?.wins > 0,
          isNew: !levelStats,
          isLocked: !props.level.isUnlocked(),
        }
      })

      return {
        images,
        props,
        memo,
      }
    },
  })
</script>

<template>
  <div
    class="item"
    data-class-ready="props.isReady"
    data-class-won="memo.hasWon"
    data-class-locked="memo.isLocked"
    data-prop-inert="memo.isLocked"
  >
    <div class="item-inner border"></div>
    <div class="item-inner fill"></div>

    <div class="star" data-prop-hidden="!memo.hasWon">
      <div class="star-image outline"></div>
      <div class="star-image base"></div>
    </div>

    <x-icon
      class="level-lock"
      data-prop-svg-url="images.icon.lock"
      data-prop-hidden="!memo.isLocked"
      data-prop-shadow="false"
    ></x-icon>
    <div class="level-text" data-prop-hidden="memo.isLocked">
      <div
        class="level-display-id"
        data-class-new="memo.isNew"
        data-text="memo.isNew ? 'New' : props.level.displayId"
      ></div>
      <x-text class="level-name" data-prop-value="props.level.name"></x-text>
    </div>

    <div class="level-stats" data-prop-hidden="!memo.hasWon">
      <div class="level-stats-name">Wins:</div>
      <div class="level-stats-value" data-text="memo.levelStats?.wins ?? 0"></div>
      <div class="level-stats-name">Highest streak:</div>
      <div class="level-stats-value" data-text="memo.levelStats?.highestStreak ?? 0"></div>
    </div>

    <div class="item-bottom side-shadow left"></div>
    <div class="item-bottom side-shadow right"></div>
    <div class="item-bottom" data-class-even="props.levelIndex % 2 === 0"></div>
  </div>
</template>

<style>
  :host {
    display: block;
  }

  [hidden] {
    display: none !important;
  }

  .item {
    position: relative;
    background-color: #0003;
    border: var(--border-width) solid #0002;
    border-radius: 999px 999px 0 0;
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    box-shadow: 0 0 0 var(--border-width) var(--shadow-color, orange);
    transition: opacity 0.3s ease-in, transform 0.3s ease-out;
    cursor: pointer;

    &:not(.ready) {
      opacity: 0;
      transform: translateY(4px);
    }

    &.won {
      --shadow-color: #fff;
    }

    &.locked {
      --shadow-color: transparent;
    }
  }

  .item-inner {
    position: absolute;
    border-radius: 999px 999px 0 0;

    &.border {
      inset: 16px 16px 0;
      border: var(--border-width) solid #0002;
    }

    &.fill {
      inset: calc(16px + var(--border-width) * 2) calc(16px + var(--border-width) * 2) 0;
      background-color: #0002;
    }
  }

  .star {
    position: absolute;
    left: 50%;
    top: -40px;
  }

  .star-image {
    mask-image: var(--images-star);
    mask-size: 100% 100%;
    mask-position: center;
    mask-repeat: no-repeat;
    background-color: gold;
    translate: -50% -50%;

    &.base {
      width: 40px;
      height: 40px;
      background-image: linear-gradient(135deg, gold, gold 50%, orange 50%, orange);
      animation: star-blink 4s ease-out infinite;
    }

    &.outline {
      position: absolute;
      width: 56px;
      height: 56px;
      background-color: #fff;
    }
  }

  @keyframes star-blink {
    0% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    91% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  .level-lock {
    width: 52px;

    @media (width <= 520px) {
      width: calc(32px + 4cqw);
    }
  }

  .level-text {
    position: relative;
  }

  .level-display-id {
    color: #fff;
    font-size: 12px;
    text-align: center;
    margin-bottom: 4px;

    @media (width <= 520px) {
      font-size: 11px;
    }

    @media (width <= 375px) {
      font-size: 10px;
    }

    &.new {
      animation: display-id-new 1s steps(2, jump-none) infinite;
    }
  }

  @keyframes display-id-new {
    0% {
      color: #fff;
    }
    100% {
      color: gold;
    }
  }

  .level-name {
    font-size: 24px;
    font-weight: 700;
    text-align: center;

    @media (width <= 520px) {
      font-size: calc(15px + 1cqw);
    }
  }

  .level-stats {
    position: absolute;
    bottom: calc(20px + 2cqw);
    right: calc(16px + var(--border-width) * 4);
    color: #fff;
    font-size: 12px;
    display: grid;
    grid-template-columns: auto auto;
    gap: 0 4px;
    justify-items: end;

    @media (width <= 520px) {
      font-size: 11px;
    }

    @media (width <= 375px) {
      font-size: 10px;
    }
  }

  .item-bottom {
    position: absolute;
    left: calc(var(--border-width) * -3);
    right: calc(var(--border-width) * -3);
    bottom: calc(var(--border-width) * -1);
    height: calc(20px + 2cqw);
    border: var(--border-width) solid #5d1a00;
    border-radius: 2px;
    box-sizing: border-box;

    background-image: linear-gradient(to bottom, #0002, #0002 50%, transparent 50%, transparent),
      linear-gradient(
        to right,
        #921400,
        #921400 47%,
        #5d1a00 47%,
        #5d1a00 50%,
        #bd1900 50%,
        #bd1900 97%,
        #5d1a00 97%,
        #5d1a00
      );
    background-size: 69% 100%;

    &.even {
      background-position-x: 110%;
    }

    &.side-shadow {
      width: var(--border-width);
      box-shadow: 0 0 0 var(--border-width) var(--shadow-color, orange);

      &.left {
        rigth: auto;
        border-right: none;
        border-top-right-radius: 0;
      }

      &.right {
        left: auto;
        border-left: none;
        border-top-left-radius: 0;
      }
    }
  }
</style>
