<script type="module">
  import { defineComponent } from 'elii'
  import { shuffleArray, mapRange } from '@/lib/utils.js'

  const times = Array.from({ length: 50 }).map((_, i) => i)

  export default defineComponent({
    tag: 'x-bg',
    document: import.meta.document,
    props: {
      particleLevel: 0,
      particleDurationRate: 1,
      isTip: false,
    },
    setup(props) {
      const shuffles = {
        delay: shuffleArray(times),
        x: shuffleArray(times),
      }

      const particles = times.map((i) => {
        return {
          hidden: !(i < props.particleLevel * times.length),
          size: mapRange(i / times.length, 5, 5),
          duration: mapRange(i / times.length, 4, 0.5) * props.particleDurationRate,
          delay: shuffles.delay[i] / times.length,
          x: shuffles.x[i] / times.length,
          vx: mapRange(Math.random(), -0.2, 0.2),
        }
      })

      /**
       * @param {{x:number, vx:number, hidden: boolean}} particle
       * @param {number} particleIndex
       */
      const onParticleIteration = (particle, particleIndex) => {
        particle.x = Math.random()
        particle.vx = mapRange(Math.random(), -0.2, 0.2)
        particle.hidden = !(particleIndex < props.particleLevel * times.length)
      }

      return {
        props,
        particles,
        onParticleIteration,
      }
    },
  })
</script>

<template>
  <div part="bg" class="bg" data-class-tip="props.isTip"></div>

  <div class="particles">
    <template data-for="particle, particleIndex in particles" data-key="particle">
      <div
        class="particle"
        data-style-visibility="particle.hidden ? 'hidden' : 'visible'"
        data-style-width="`${particle.size}px`"
        data-style-height="`${particle.size}px`"
        data-style-left="`${particle.x * 100}%`"
        data-style--vx="`${particle.vx * 100}cqw`"
        data-style-animation-duration="`${particle.duration}s`"
        data-style-animation-delay="`${particle.delay * -particle.duration}s`"
        data-on-animationiteration="() => onParticleIteration(particle, particleIndex)"
      ></div>
    </template>
  </div>

  <div class="content">
    <slot></slot>
  </div>

  <div class="side-bar-container">
    <div class="side-bar left" data-class-tip="props.isTip"></div>
    <div class="side-bar right" data-class-tip="props.isTip"></div>
  </div>
</template>

<style>
  :host {
    display: grid;
    position: relative;
    box-sizing: border-box;
    z-index: 0;
  }

  .bg {
    position: absolute;
    inset: 0;
    z-index: -1;
    background: linear-gradient(to bottom, #d63, #fb3);
    transition: filter 1s ease-out;
    will-change: filter;

    &.tip {
      border-top: var(--border-width) solid #864;
    }
  }

  .particles {
    position: absolute;
    inset: 0;
    container-type: size;
    pointer-events: none;
    z-index: 0;
    overflow: hidden;
  }

  .particle {
    position: absolute;
    left: 0;
    top: 0;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--particle-color, #fff8);
    transition: background-color 1s ease-out;
    animation: particle-rise 1s linear infinite;
    will-change: transform, left, background-color, opacity;
  }

  @keyframes particle-rise {
    0% {
      transform: translate(calc(-50% + var(--vx)), calc(100cqh + 100%));
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    100% {
      transform: translate(calc(-50%), calc(0cqh - 100%));
      opacity: 0;
    }
  }

  .content {
    padding: 0 calc(var(--side-bar-width) * 2.5) calc(var(--footer-height) * 2);
  }

  .side-bar-container {
    position: absolute;
    inset: 0;
    container-type: size;
    pointer-events: none;
    z-index: 10000;
  }

  .side-bar {
    --shadow-y: 0px;

    position: absolute;
    top: 0;
    width: var(--side-bar-width);
    bottom: -10cqh;
    background-image: linear-gradient(
      to bottom,
      #921400,
      #921400 47%,
      #5d1a00 47%,
      #5d1a00 50%,
      #bd1900 50%,
      #bd1900 97%,
      #5d1a00 97%,
      #5d1a00
    );
    background-size: 100% calc(var(--border-width) * 50);
    border: 0 solid #5d1a00;
    box-sizing: border-box;
    box-shadow: 0 0 0 var(--border-width) #fff, 0 var(--shadow-y) 0 calc(var(--border-width) * 3) #0002;

    animation: parallax-side-bar linear;
    animation-duration: 1ms; /* firefox bug fix */
    animation-timeline: scroll(root);

    &.left {
      left: 0;
      border-right-width: var(--border-width);
    }

    &.right {
      right: 0;
      border-left-width: var(--border-width);
    }

    &.tip {
      border-top-width: var(--border-width);
      top: calc(var(--border-width) * -1);
      --shadow-y: calc(var(--border-width) * 4);

      &.right {
        border-top-left-radius: 2px;
      }

      &.left {
        border-top-right-radius: 2px;
      }
    }
  }

  @keyframes parallax-side-bar {
    from {
      transform: translateY(0cqh);
    }
    to {
      transform: translateY(-10cqh);
    }
  }
</style>
