<script type="module">
  import { defineComponent, reactive } from 'elii'
  import { images } from '@/r.js'

  import './x-button.m.html'
  import './x-icon.m.html'

  export default defineComponent({
    tag: 'x-dialog',
    document: import.meta.document,
    props: {
      noClose: false,
    },
    setup(props) {
      const state = reactive({
        active: false,
        inert: false,
        refDialog: /** @type {HTMLDialogElement | null} */ (null),
      })

      const open = (wait = 100, inertWait = 300) => {
        const dialog = state.refDialog
        if (!dialog) throw Error('Dialog not found')

        state.inert = true
        dialog.showModal()
        setTimeout(() => (state.active = true), wait)
        setTimeout(() => (state.inert = false), wait + inertWait)
      }

      const close = () => {
        state.active = false
        state.refDialog?.close()
      }

      /**
       * @param {MouseEvent} e
       */
      const onDialogClick = (e) => {
        if (e.target === e.currentTarget && !props.noClose) close()
      }

      return {
        images,
        props,
        state,
        close,
        onDialogClick,
        $expose: {
          open,
          close,
        },
      }
    },
  })
</script>

<template>
  <dialog
    data-ref="state.refDialog"
    data-class-active="state.active"
    data-prop-inert="state.inert"
    data-on-click="onDialogClick"
  >
    <div class="body">
      <div class="content">
        <div class="bg"></div>
        <slot></slot>
        <x-button class="close" data-on-click="close" data-prop-hidden="props.noClose">
          <x-icon data-prop-svg-url="images.icon.close"></x-icon>
        </x-button>
      </div>
    </div>
  </dialog>
</template>

<style>
  :host {
    display: contents;
  }

  [hidden] {
    display: none !important;
  }

  dialog {
    inset: 20cqw 0 auto;
    margin: 0 auto;
    box-sizing: border-box;
    width: fit-content;
    max-width: calc(100cqw - 16px);
    height: auto;
    max-height: calc(100dvh - 20cqw - 16px);
    padding: unset;
    color: unset;
    background: unset;
    border: unset;
    outline: unset;
    overflow: unset;
    user-select: unset;
    -webkit-user-select: unset;

    &::backdrop {
      opacity: 0;
    }

    &:not([open]) {
      transition: display 0.2s allow-discrete, overlay 0.2s allow-discrete;
    }
  }

  .body {
    opacity: 0;
    translate: 0 -24px;
    transition: translate 0.2s 0.2s ease-out, opacity 0.2s linear;

    dialog.active & {
      opacity: 1;
      translate: 0 0px;
      transition: translate 0.3s ease-out, opacity 0.3s linear;
    }
  }

  .content {
    position: relative;
    background-color: #fff;
    padding: 32px;
    min-width: 300px;
    box-sizing: border-box;
    border: var(--border-width) solid #5d1a00;
    border-radius: 2px;
    box-shadow: 0 0 0 var(--border-width) #fff,
      var(--border-width) calc(var(--border-width) * 3) 0 var(--border-width) #0002;
    z-index: 0;

    @media (width <= 460px) {
      padding: 24px 16px 32px;
    }

    @media (width <= 375px) {
      padding: 24px 8px 32px;
    }
  }

  .bg {
    position: absolute;
    inset: 0 0 auto;
    height: 20px;
    background-image: var(--images-wave);
    background-size: auto 60px;
    background-repeat: repeat-x;
    background-position: center -21px;
    background-color: gold;
    opacity: 0.5;
    z-index: -1;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    color: darkorange;
  }
</style>
