<script type="module">
  import { defineComponent } from 'elii'

  export default defineComponent({
    tag: 'x-text',
    document: import.meta.document,
    props: {
      value: '',
      shadow: false,
    },
    setup(props) {
      return {
        props,
      }
    },
  })
</script>

<template>
  <div class="overlay stroke" data-text="props.value"></div>
  <div class="overlay face" data-text="props.value"></div>
  <div class="basis" data-class-shadow="props.shadow" data-text="props.value"></div>
</template>

<style>
  :host {
    display: block;
    position: relative;
  }

  .overlay {
    position: absolute;
    inset: 0;
    white-space: nowrap;

    &.face {
      background-image: var(--images-wave);
      -webkit-text-fill-color: transparent;
      background-clip: text;
      background-size: auto 100%;
      background-color: currentColor;
      background-repeat: repeat-x;
      background-position: center;
    }

    &.stroke {
      -webkit-text-stroke: 0.18em #5d1a00;
    }
  }

  .basis {
    white-space: nowrap;
    &.shadow {
      -webkit-text-stroke: 0.36em #fff;
    }
  }
</style>
